
.iconButton{
    font-size: 30px;
    line-height: 25px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    direction: rtl;
    cursor: pointer;
    position: relative;
}
.iconButton.LikeIconEmptyAfter:after{
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
    display: flex;
    width: 30px;
    direction: ltr;
}
.iconButton.LikeIconEmptyAfter.fill{
    color: var(--koochita-green);
}
.iconButton.LikeIconEmptyAfter.fill:after{
    content: '\E057' !important;
    font-family: Shazde_Regular2 !important;
}
.iconButton.DisLikeIconEmptyAfter:after{
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
    width: 30px;
    direction: ltr;
    display: flex;
}
.iconButton.DisLikeIconEmptyAfter.fill{
    color: var(--koochita-red);
}
.iconButton.DisLikeIconEmptyAfter.fill:after{
    content: '\E058' !important;
    font-family: Shazde_Regular2 !important;
}
.iconButton.CommentIconAfter:after{
    content: '\E06B';
    font-family: Shazde_Regular2 !important;
}
.iconButton.CommentIconAfter.fill{
    color: var(--koochita-blue);
}
.iconButton.CommentIconAfter.fill:after{
    content: '\E06C';
    font-family: Shazde_Regular2 !important;
}
.iconButton.shareIcon:after{
    content: '\E1F6';
    font-family: Shazde_Regular2 !important;
    width: 30px;
    display: flex;
    direction: ltr;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    padding-bottom: 5px;
}

.iconButton .shareBoxClass{
    left: 0px;
    right: auto;
}

.darkShadowBox{
    box-shadow: 4px 6px 12px 2px #131313;
}


.vjs-control-bar{
    direction: ltr;
}
.liveComments {
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
}
.liveComments .commentInputSection {
    align-items: center;
    padding: 5px;
}

.liveComments .userPicDiv {
    width: 30px;
    height: 30px;
}

.liveComments .commentInput {
    padding: 5px;
    font-size: 14px;
    margin-right:5px;
    overflow: hidden;
}
.commentInput{
    width: 98%;
    border-radius: 10px;
    font-size: 16px;
}

.liveComments .commentInputSendButton {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    /* background-color: #232323; */
    /* color: white; */
    border-radius: 10px;
    font-size: 17px;
}

.video_1-dimensions {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-js .vjs-big-play-button {
    position: relative;
}

.lestSideLiveVideo{
    width: auto;
    margin-right: 5px;
}
.guestRow{
    color: white;
    width: 150px !important;
    text-align: center;
    margin: 15px 0px !important;
    font-size: 14px;
    border-bottom: solid 1px red;
    display: flex;
    position: relative;
    height: 150px;
    transition: .3s;
}
.guestPicSection{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
}
.guestAction{
    padding: 0px;
    font-size: 12px;
    color: #0076a3;
}
.guestMainSection{
    width: 100%;
}
.guestSideSection{
    transition: .3s;
    width: 0;
    border-radius: 20px;
    overflow: hidden;
    text-align: justify;
}
.guestSection{
    position: absolute;
    /*left: 0;*/
    right: 0;
    background-color: #3a3a3a;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    z-index: 9;
}
.guestName{
    padding: 0px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}
.guestText{
    display: none;
}
.guestSection:hover .setMarginInGuestSection{
    margin: 10px 0px;
    width: 150px;
}
.guestSection:hover .guestText{
    display: block;
}
.guestSection:hover .guestSideSection{
    width: 300px;
    border: solid red 2px;
    padding: 8px;
    margin-left: 10px;
}
.guestSection:hover .guestName{
    display: block;
}
.guestSection:hover .guestAction{
    display: block;
}
.guestNotPcSection{
    display: none;
}
.guestPhoneRows{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.descriptionSection{
    width: 100% !important;
}
.headerWithLine{
    margin-top: 30px;
}
@media (max-width: 1300px){
    .lestSideLiveVideo{
        display: none;
    }
    .mainDivStream > div:first-child{
        width: 40%;
    }
    .guestRow{
        width: 150px !important;
        height: 150px;
    }
    .guestPicSection{
        width: 100px;
        height: 100px;
    }
    .guestName{
        font-size: 14px;
        display: block;
    }
    .guestAction{
        font-size: 12px;
        display: block;
    }
    .guestSection{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 150px;
        z-index: 9;
    }
    .guestSection:hover .guestSideSection{
        background-color: #3a3a3a;
    }
    .guestSection:hover{
        z-index: 10;
    }
}

@media (max-width: 991px){
    .guestNotPcSection{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hideOnSmall{
        display: none;
    }
    .guestRow{
        border-bottom: none;
    }
    .guestPicSection{
        border: solid 1px red;
        margin-bottom: 10px;
    }
    .guestName{
        font-weight: bold;
    }
    .guestAction{
        font-size: 10px;
        margin-top: 3px;
    }
}

@media (max-width: 767px){

    .mainDivStream{
        width: 100%;
    }
    .mainShowBase{
        width: calc(100% - 10px);
    }
    .guestSection:hover .guestSideSection{
        width: 150px;
    }
}
