*{
    font-family: IRANSansWeb;
}
body{
    background: #232323 !important;
}
a{
    color: white;
}
input{
    color: #232323;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bebebe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}


.secHeader{
    color: white;
    display: flex;
    align-items: center;
    padding: 0px;
    width: 90%;
}
.secHeaderTabs{
    cursor: pointer;
    padding: 15px 0px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addVideoSecHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    background: red;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    color: white;
}
.addVideoSecHeader:hover{
    color: white;
}
.secHeaderTabs:hover{
    border-bottom: solid 3px red;
    padding-bottom: 12px;
}
.secHeaderTabsChoose{
    border-bottom: solid 3px red;
    padding-bottom: 12px;
}
.liveIcon{
    padding: 2px 4px;
    background: red;
    border-radius: 7px;
    font-size: 13px;
}
.liveText{
    color: red;
}

.streamBody {
    direction: rtl;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDivStream {
    display: flex;
    flex-direction: row;
    width: calc(100% - 50px);
}

.mainDivStream > div:first-child {
    margin-left: 5px;
    width: 25%;
}

.mainShowBase{
    background: #3a3a3a;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    width: calc(100% - 50px);
}


.headerWithLine{
    color: white;
    position: relative;
    margin: 15px 0px;
}
.headerWithLineText{
    font-size: 22px;
    position: absolute;
    background-color: #3a3a3a;
    padding-left: 10px;
    bottom: -10px;
    cursor: context-menu;
}
.headerWithLineLine{
    background: red;
    height: 5px;
    border-radius: 20px;
    width: 100%;
}
.descriptionSectionBody{
    font-size: 14px;
    padding: 0px 35px;
    text-align: justify;
    cursor: context-menu;
}
.eyeClass{
    width: 15px;
    margin-right: 5px;
}

.LivePngClass{
    width: 35px;
    margin-left: 5px;
}
.TvPngClass{
    width: 20px;
    margin-left: 5px;
}

.fullLikeColor{
    color: red;
}
.fullDisLikeColor{
    color: darkred;
}