.videoSuggestion{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #232323;
    border-radius: 8px;
    padding: 5px;
    align-items: flex-start;
    margin-bottom: 10px;
}
.videoSugPicSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 165px;
    border-radius: 10px;
    position: relative;
}
.videoSugPic{
    width: 100%;
}
.videoSugInfo{
    display: flex;
    padding: 0px 15px;
    color: white;
    flex-direction: column;
    width: 100%;
}
.videoSugUserPic{
    width: 100%;
    height: 60px;
    /*border-radius: 50%;*/
    overflow: hidden;
    display: flex;
    align-items: center;
}
.videoUserInfoName{
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.videoSugUserPicDiv{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.videoSugUserInfo{
    margin: 10px 0px;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videoSugUserName{
    font-size: 12px;
    color: #0076a3;
}
.videoSugTime{
    font-size: 12px;
}
.overPicSug{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 2px 11px;
    left: 13px;
    border-radius: 8px;
    color: white;
    background-color: #000000d1;
}
.likeOverPic{
    bottom: 13px;
}
.seenOverPic{
    top: 13px;
}

.playIconDiv{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #00000085;
    transition: 1s;
}

.videoSugPicSection:hover .playIconDiv{
    display: flex;
}
.swiper-button-prev, .swiper-button-next{
    opacity: .5;
}
@media (max-width: 767px) {
    .otherSectionBody{
        flex-direction: column;
    }
    .videoSuggestion{
        margin-bottom: 15px;
    }
    .videoSugPicSection{
        height: 130px;
    }
    .videoSugInfo{
        padding: 0px;
    }
    .videoSugName{
        font-size: 11px;
    }
    .videoSugUserInfo{
        margin: 0;
        margin-top: 3px;
    }
    .videoSugUserName{
        display: none;
    }
    .videoSugUserPicDiv{
        display: none;
    }
    .videoSugUserPic{
        height: auto;
    }
    .videoUserInfoName{
        margin-right: 0;
        color: grey;
    }
}
@media (max-width: 450px){
    .overPicSug{
        font-size: 13px;
    }
    .mainShowBase{
        width: calc(100% - 10px);
    }
    .videoSugPicSection{
        height: 110px;
    }
}