.videoSuggestion{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #232323;
    border-radius: 8px;
    padding: 5px;
    align-items: flex-start;
    margin-bottom: 10px;
}

.videoSugPicSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 135px;
    border-radius: 5px;
    position: relative;
}
.videoSugPic{
    width: 100%;
}
.videoSugInfo{
    display: flex;
    padding: 0px 15px;
    color: white;
    flex-direction: column;
    width: 100%;
}
.videoSugUserPic{
    width: 100%;
    /* height: 60px; */
    /* border-radius: 50%; */
    overflow: hidden;
    display: flex;
    align-items: center;
}
.videoUserInfoName{
    /* margin-right: 13px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.videoSugUserPicDiv{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.videoSugUserInfo{
    margin: 10px 0px 0px 0px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.videoSugUserInfo > a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
}
.videoSugUserName{
    font-size: 15px;
    color: #0076a3;
}
.videoSugTime{
    font-size: 10px;
    color: gray;
    margin-right: 10px;
}
.overPicSug{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 2px 11px;
    left: 3px;
    border-radius: 5px;
    color: white;
    background-color: #000000a6;
}
.likeOverPic{
    bottom: 3px;
}
.seenOverPic{
    bottom: 3px;
    right: 3px;
    left: auto;
}

.playIconDiv{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #00000085;
    transition: 1s;
}

.videoSugPicSection:hover .playIconDiv{
    display: flex;
}
.swiper-button-prev, .swiper-button-next{
    opacity: .5;
}

.videoSuggNamePlaceHolder{
    width: 100px;
    height: 10px;
    border-radius: 5px;
}
.videoSugUserInfoPlaceHolder{
    margin: 5px 0px!important;
}
.userPicOverPic{
    width: 40px;
    height: 40px;
    left: auto;
    top: -2px;
    background: #232323;
    border-radius: 20px 0px 20px 20px;
    right: -2px;
    padding: 0;
}

@media (max-width: 767px) {
    .otherSectionBody{
        flex-direction: column;
    }
    .videoSuggestion{
        margin-bottom: 15px;
    }
    .videoSugPicSection{
        height: 130px;
    }
    .videoSugInfo{
        padding: 0px;
    }
    .videoSugName{
        font-size: 11px;
    }
    .videoSugUserInfo{
        margin: 0;
        margin-top: 3px;
    }
    .videoSugUserName{
        display: none;
    }
    .videoSugUserPicDiv{
        display: none;
    }
    .videoSugUserPic{
        height: auto;
    }
    .videoUserInfoName{
        margin-right: 0;
        color: grey;
    }

}
@media (max-width: 450px){
    .overPicSug{
        font-size: 13px;
    }
    .videoSugPicSection{
        height: 110px;
    }
}
