
.LikeIcon:before{
    content: '\E057' !important;
    font-family: Shazde_Regular2 !important;
}
.DisLikeIcon:before{
    content: '\E058' !important;
    font-family: Shazde_Regular2 !important;
}
.CommentIcon:before{
    content: '\E06C';
    font-family: Shazde_Regular2 !important;
}
.ShareIcon:before{
    content: '\E1F6';
    font-family: Shazde_Regular2 !important;
}
.HeartIcon:before{
    content: '\e012' !important;
    font-family: Shazde_Regular2 !important;
}
.BookMarkIcon:before{
    content: "\E0DE" !important;
    font-family: Shazde_Regular2 !important;
}
.BookMarkEmptyIcon:before{
    content: "\e0dd" !important;
    font-family: Shazde_Regular2 !important;
}
.downArrowIcon:before{
    content: '\E04A';
    font-family: Shazde_Regular2 !important;
}
.downArrowIconAfter:after{
    content: '\E04A';
    font-family: Shazde_Regular2 !important;
}
.arrowCss {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.arrowCss.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrowCss.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrowCss.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.arrowCss.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.sendIcon:before{
    content: "\E01B";
    font-family: 'Shazde_Regular' !important;
}
.plusIcon:before{
    content: "\E02F";
    font-family: 'Shazde_Regular' !important;
}
.plusIconAfter:after{
    content: "\E02F";
    font-family: 'Shazde_Regular' !important;
}
.LikeIconEmpty:before{
    content: '\E1F9';
    font-family: Shazde_Regular2 !important;
}
.DisLikeIconEmpty:before{
    content: '\E1F8';
    font-family: Shazde_Regular2 !important;
}
.soundIcon:before{
    content: '\E0C2';
    font-family: Shazde_Regular2 !important;
}
.muteIcon:before{
    content: '\E0C1';
    font-family: Shazde_Regular2 !important;
}
