/*footer styles*/

textarea:focus, input:focus, select:focus, button:focus, a:focus,
textarea, input, select, button, a {
    outline: none;
}

footer {
    font-size: initial;
}

footer ul {
    list-style: none;
}
.screenFooterStyle {
    background-color: #fcc156;
    direction: rtl;
    padding: 20px;
    text-align: right;
    margin-top: 1%;
}

.footTitle {
    font-size: 17px;
    font-weight: 800;
    padding: 0 4px 4px;
    color: #053a3e;
}

.footMenu {
    font-weight: 800;
}

.footMenu > a {
    color: #720d19 !important;
}

.footShowTabletMenu {
    display: none;
}

footer li > a {
    color: #16174f !important;
    font-size: 12px;
    text-decoration: none;
}

footer li a:visited {
    text-decoration: none !important;
}

footer li a:active {
    text-decoration: none !important;
}

footer li {
    padding: 4px;
}

footer a:hover {
    text-decoration: none !important;
    color: #16174f;
}

footer li > img, .small-ico {
    width: 22px;
    float: right;
    margin-left: 7px;
    height: 22px;
}

.socialLink {
    font-size: 14px;
    color: #16174f;
}

.footerIcon {
    background-image: url('../../images/footer.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.footerIconHor {
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin-top: 7px;
}

.linkedin {
    background-image: url('../../../images/icons/linkedin.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.facebook {
    background-image: url('../../../images/icons/facebook.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.pinterest {
    background-image: url('../../../images/icons/pintrest.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.instagram {
    background-image: url('../../../images/icons/instagram.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.telegram {
    background-image: url('../../../images/icons/telegram.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.aparat {
    background-image: url('../../../images/icons/aparat.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.twitter {
    background-image: url('../../../images/icons/twitter.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.selectLanguage {
    background: #FFF;
    border: 2px solid;
    font-size: 12px;
}

.footerLogoSocialBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.footerLogo {
    width: 19%;
    clear: right;
}

.footerSocialMediaBox {
    width: 19%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerRside {
    float: right;
    width: 75%;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 24px !important;
    text-align: justify;
}

#aboutShazde {
    overflow: hidden;
}

.aboutShazdeLink > a {
    color: #720d19 !important;
    font-size: 14px;
    font-weight: 800;
}

.aboutShazdeLink > a:hover {
    text-decoration: underline !important;
}

.aboutShazdeLinkMargin {
    margin-top: 60px;
}

.footerLsideBoxes {
    float: left;
    margin-right: 4%;
}

#socialMedias > ul > li:not(:first-child) {
    padding: 0 4px;
}

#socialMedias > ul > li:not(:first-child) > div:nth-child(2) {
    display: inline-block;
    position: absolute;
    margin-right: 4px;
}

#socialMedias > ul > li:last-child > a {
    margin-right: 4px
}

.footMoreLessBtn {
    color: #053a3e;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    margin-top: 5px;
    display: none;
}

.aboutShazdeMoreLess {
    height: auto !important;
}


/*phone style*/

.phoneFooterStyle {
    position: absolute;
    bottom: 0;
    background-color: red;
    color: white;
    direction: rtl;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.phoneFooterLogo {
    width: 260px;
    position: absolute;
    top: -48px;
}

.phoneDescription {
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 135px;
}

.phoneDescriptionText {
    overflow: auto;
    padding: 0 5px;
    cursor: default;
    font-weight: 200;
}

.footerPhoneMenuBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: red;
    box-shadow: -1px 0 6px 1px red;
    border-bottom: 2px solid red;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    font-weight: 700;
    font-size: initial;
}

.footerPhoneMenuBar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
}

.footerPhoneMenuBar > div > div.profileBtnText {
    flex-direction: column;
    display: flex;
    text-align: right;
}

.profileBtnText > span:nth-child(1){
    font-size: 11px;
}

.profileBtnText > span:nth-child(2){
    color: white;
}

.profilePic.circleBase {
    background-color: #999999;
}

.circleBase {
    border-radius: 50%;
}

.profilePicFooter.type2 {
    width: 35px;
    height: 35px;
    background: #ccc;
    margin-left: 10px;
}

.profilePicFooter.circleBase > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ui_icon.more-horizontal {
    font-size: 30px;
}

.ui_icon.plus-circle {
    font-size: 25px;
    margin-left: 5px;
}

.ui_icon.search {
    font-size: 25px;
    margin-left: 2px;
    padding-top: 5px;
}

.ui_icon.member {
    font-size: 25px;
    margin-right: 7px;
    padding-top: 5px;
}

.ui_icon.memberPossibilities {
    font-size: 23px;
    margin-left: 2px;
}

.ui_icon.memberPossibilities::before {
    content: '\E0C7';
    font-family: Shazde_Regular2 !important;

}

/*pop up on phone( phone popUp : pp)*/

.mainPopUp {
    direction: rtl;
    width: 80%;
    height: 100%;
    z-index: 200;
    position: fixed;
    background-color: white;
}

.leftPopUp {
    left: 0;
}

.lp_phoneMenuBar {
    position: fixed;
    bottom: 0;
    width: 80%;
    box-shadow: 0px -5px 15px #cccccc;
    background-color: white;
    border-bottom: 2px solid #30b4a6;
    /*font-size: 1.15em;*/
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recentViewLeftBar > div:nth-child(1) {
    /*overflow: auto;*/
    height: inherit;
}

.lp_eachMenu {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 15px;
    border-top: 5px solid white;
}

.lp_selectedMenu {
    color: #4DC7BC;
    padding: 10px 0 15px;
    border-top: 5px solid #4DC7BC;
}

.lp_selectedMenu > div:nth-child(2) {
    text-align: center;
}

.ui_icon.search.lp_icons {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.lp_icons {
    font-size: 35px;
}

.lp_eachMenu > div:nth-child(2) {
    font-size: initial;
}

.ui_icon.casino:before {
    content: "\e0dd";
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'Shazde_Regular' !important;
    -ms-transform: rotate(-.001deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}


/*the others style*/

.lp_others_content {
    padding: 25px;
    height: inherit;
}

.lp_others_titles {
    font-size: 2em;
    font-weight: 500;
    padding: 0 0 25px;
    margin: 0;
    border-bottom: 1px solid #CCCCCC;
}

.lp_others_titles .trips-header {
    font-size: 1em;
    font-weight: 500;
    padding: 0 0 25px;
    margin: 0;
    color: black;
}

.lp_others_noMessages {
    font-size: 1.5em;
}

.lp_others_createTrip {
    width: 300px;
    height: 300px;
    background-color: #e5e5e5;
    color: #4DC7BC;
    font-size: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lp_others_createTripText {
    font-size: 0.5em;
    font-weight: 600;
}

.lp_others_recentView{
    padding: 18px 24px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-around;
    font-size: 2.25em;
}

.lp_others_rvPicBox {
    height: 160px;
}

#lp_register {
    display: flex;
    padding: 20px;
    flex-direction: column;
    overflow: auto;
    height: inherit;
}

#lp_register > div:first-child {
    display: flex;
}


/*the style of article footer & menu in phone*/
.lp_ar_searchTitle {
    color: #761c19;
    text-align: center;
    font-weight: 600;
}

.lp_ar_filters {
    border-bottom: 3px solid rgba(0, 0, 0, .075);
    display: flex;
    margin: 5px 0;
}

.lp_ar_eachFilters {
    width: 50%;
    text-align: center;
    line-height: 30px;
}

.lp_ar_selectedMenu {
    border-bottom: 5px solid #761c19;
}

.lp_ar_rightFilters {
    border-left: 2px solid rgba(0, 0, 0, .075);
}

.lp_ar_borderBottom {
    border-bottom: 10px solid #f3f3f3;
    margin: 10px -7px;
}

.lp_ar_contentOfFilters{
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}



footer .modules-membercenter-member-profile {
    width: 60%;
}

footer .modules-membercenter-member-profile .profileBlock {
    overflow: hidden;
    margin-bottom: 50px;
}

footer .profileInfosDetails > p {
    font-size: 17px;
    margin: 5px 0;
}

footer .ageSince {
    display: flex;
}

footer .ageSince > div:nth-child(1) {
    margin-left: 10px;
}

footer .modules-membercenter-member-profile .profileBlock .avatarUrl {
    float: right;
    border-radius: 100%;
    margin-left: 50px;
}

footer .modules-membercenter-member-profile .profInfo {
    overflow: hidden;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
}

footer .editInfoBtn {
    border: 1px solid #007ac3;
    margin-bottom: 10px;
    color: #007ac3;
    font-size: 14px;
    display: flex;
    padding: 10px;
    width: max-content;
    cursor: pointer;
    align-items: center;
}

footer .aboutMeDesc .glyphicon.glyphicon-chevron-down, footer .aboutMeDesc .glyphicon.glyphicon-chevron-up {
    line-height: 20px;
    margin: 0 5px;
}
footer .glyphicon-chevron-up:before{
    content: "\e113";
}

footer .editProfileMenu {
    flex-direction: column;
    width: max-content;
    border: #dedede 1px solid;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    position: absolute;
    padding: 5px;
    background-color: white;
    z-index: 1;
}

footer .editProfileMenu > a {
    padding: 5px;
    color: #16174f;
}

footer .profileBtnActionMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.pp_btns {
    width: 110px;
    margin: 10px 0;
    color: white !important;
}

footer .profileScoreMainDiv {
    margin-top: 10px;
}

footer #myHonorsText .class > div {
    background-image: url('../../images/help_share.png')
}

footer .modules-membercenter-progress-header {
    width: 100%;
    height: 25px;
    position: relative;
    font-family: Helvetica, Arial, 'Sans-Serif';
    font-size: 18px;
    font-weight: bold;
    color: #2C2C2C;
}

footer #myHonorsText {
    text-align: right;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
    padding-top: 24px;
    width: 100%;
}

footer #myHonorsText > h3 {
    position: absolute;
    top: 10px;
    background: white;
    padding-left: 5px;
    color: #0076ac;
    font-size: 20px;
}

footer .memberPointInfo {
    display: flex;
    flex-direction: column;
    /*margin-top: 30px;*/
}

footer .memberPointInfo .modules-membercenter-total-points {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 13px 0;
    border-bottom: 1px solid #c4c4c4;
}

footer .modules-membercenter-total-points .label {
    /*margin-bottom: 10px;*/
    font-size: 14px;
    color: #656565;
    text-align: right;
    padding: 0 2px;
}

footer b.modules-membercenter-total-points .points {
    font-size: 25px;
}

footer .modules-membercenter-total-points .points {
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    color: #963019;
}

footer .modules-membercenter-total-points .targets {
    border-left: 1px solid #c4c4c4;
    padding: 26px 0;
    width: 89px;
    text-align: center;
}

footer .modules-membercenter-total-points .points_to_go {
    float: right;
    font: lighter 22px helvetica, arial, sans-serif !important;
    font-family: helvetica, arial, sans-serif !important;
    color: #666 !important;
    text-align: center;
    width: 55%;
}

footer .mainDivTotalPoint {
    border-left: 1px solid #c4c4c4;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer .mainDivTotalPoint a {
    font-size: 0.797em;
}

footer .modules-membercenter-total-points .points_to_go > span  {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}

footer .modules-membercenter-total-points .points_to_go b {
    color: #963019;
    font-weight: normal;
    margin-left: 10px;
    font-size: 30px;
}

footer .modules-membercenter-total-points .points_to_go > span > span {
    text-align: right;
    line-height: 1.2;
    font-size: 18px;
}

footer .memberPointInfo .modules-membercenter-level-progress {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    border-left: none;
    padding-left: 0;
}

footer .modules-membercenter-level-progress .progress_info {
    position: relative;
}

footer .modules-membercenter-level-progress .labels {
    padding-bottom: 20px;
    display: flex;
}

footer .modules-membercenter-level-progress .label {
    font-size: 17px;
    color: #666;
    padding: 10px 0 0;
    width: 50%;
}

footer .modules-membercenter-level-progress .label:first-child {
    text-align: right;
}

footer .modules-membercenter-level-progress .label:last-child {
    text-align: left;
}

footer .modules-membercenter-level-progress .progress_indicator {
    height: 30px;
    position: relative;
    padding: 17px 20px;
}

footer .modules-membercenter-level-progress .myBadge {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: url('../../images/profile.png') no-repeat -13px -344px !important;
    background-size: 56px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

footer .modules-membercenter-level-progress .current_badge {
    position: absolute;
    top: 0;
    left: 20px;
}

footer .modules-membercenter-level-progress .meter {
    height: 5px;
    background: #E1DED6;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0;
    margin: 0 45px;
}

footer .modules-membercenter-level-progress .meter > span {
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #963019;
}

footer .modules-membercenter-level-progress .progress {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    transition: all 1s linear;
    width: 0;
}

footer .modules-membercenter-level-progress .next_badge {
    top: 0;
    right: 15px;
    position: absolute;
}

footer .userProfileActivitiesMainDiv {
    padding: 0 0 20px;
}

footer .mainDivHeaderText {
    padding: 10px 0;
    border-bottom: 1px solid
    #e5e5e5;
    margin: 20px 0;
    position: relative;
}

footer .mainDivHeaderText > h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    position: absolute;
    top: 5px;
    right: -5px;
    background: white;
    padding: 0 10px;
    color: #0076a3;
    margin: 0;
}

footer .activitiesMainDiv {
    padding: 5px 15px;
}

footer .activitiesLinesDiv:first-child {
    padding: 0 0 10px;
}

footer .activitiesLinesDiv {
    border-bottom: 1px solid
    #E5E5E5;
    padding: 15px 0;
    position: relative;
}

footer .activitiesLinesDiv:first-child > div {
    top: 0;
}

footer .activityTitle {
    position: absolute;
    font-size: 14px;
    color: #888888;
    top: 19px;
    right: 0;
    cursor: default;
    padding: 0 5px;
    background-color: white;
}

footer .activityNumbers {
    position: absolute;
    font-size: 14px;
    color: #0076a3;
    top: 19px;
    left: 0;
    cursor: pointer;
    padding: 0 5px;
    background-color: white;
}

/*end of the others style*/

/*lp search styles*/
/*PSC (phone search city) styles:*/

.pSC_tilte {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 30px 20px;
    color: #0076a3;
}

.pSC_tilte > div:first-child {
    cursor: pointer;
}

.pSC_tilte .btn-danger {
    background-color: darkred;
    border-color: darkred;
    border-radius: 7px;
    padding: 5px 20px;
    font-size: 12px
}

.pSC_cityTilte {
    font-weight: 500;
}

.pSC_cityDescription {
    font-size: 14px;
    padding: 5px 20px;
    text-align: center;
    line-height: 1.8;
    cursor: pointer;
}

.pSC_boxOfDetails {
    font-size: 1em;
    text-align: center;
    padding: 20px 10px;
}

.pSC_choiseDetailsText {
    font-size: 12px;
    border-bottom: 2px solid #a1a1a1;
    color: #e08700;
}

.pSC_boxOfCityDetailsText:hover {
    border-bottom: 2px solid #f0ad4e;
}

.pSC_boxOfCityDetailsText {
    padding: 15px 0 13px;
    font-weight: 700;
    border-bottom: 2px solid white;
    cursor: default;
}

.pSC_boxOfCityDetailsText span {
    cursor: pointer;
}

.pSC_boxOfCityDetailsText2 {
    font-size: 9px;
    font-weight: 600;
    cursor: pointer;
}

.pSC_boxOfCityDetails {
    display: flex;
    justify-content: center;
}

.pSC_cityDetails {
    width: 50%;
    border: solid #a1a1a1;
    padding: 15px 0;
    border-width: 2px 2px 2px 0;
    border-bottom: solid white;
    cursor: pointer;
}

.pSC_cityDetails.pSC_cityDetails_selected {
    border-bottom: solid #f0ad4e;
}

.pSC_cityDetails:hover {
    border-bottom: solid #f0ad4e;
}

.pSC_cityDetails:nth-child(1) {
    border-right: none;
}

.pSC_boxOfCityDetails:last-child  {
    border-bottom: 2px solid #a1a1a1;
}

.rightPopUp {
    right: 0;
}

.masthead-recent-class {
    margin: 20px 40px;
    background-color: #f9f9f9;
}

.lp_others_recentView > div:nth-child(2) {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lp_others_rating {
    text-align: center;
}

.bottomBarContainer {
    width: 100%;
    height: 180px;
}

footer .mainContainerBookmarked {
    overflow: auto;
    height: inherit;
}

footer .masthead-trips-class {
    padding: 18px 24px 14px 24px;
    text-align: center;
    background-color: #f9f9f9;
    position: relative;
    margin: 10px 0;
    overflow: unset !important;
}

footer .masthead-trips-tiles-region-class {
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
}

footer .trips-tiles-class {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

footer a.single-tile.is-create-trip {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    justify-content: space-around;
    -webkit-transition: background-color .2s ease, corder-color .2s ease;
    transition: background-color .2s ease, corder-color .2s ease;
    background-blend-mode: overlay;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 0 0 10px 0;
    border-radius: 2px;
    display: -webkit-box;
    display: flex;
    line-height: initial;
}

footer a.single-tile > .tile-content {
    -ms-grid-row-align: center;
    align-self: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a.single-tile .ui_icon.plus {
    color: #00AF87;
    font-size: 28px;
}

footer a.single-tile .create-trip-text {
    color: #00AF87;
    font-size: 14px;
}

footer .create-trip-text {
    margin-top: 5px;
}

footer .placeDetailsLeftBar > div:nth-child(1) {
    color: black;
}

footer .placeDetailsLeftBar > div:not(:first-child) {
    color: #666;
}

footer .phoneDescriptionSelects {
    display: flex;
}

footer .phoneDescriptionSelects > div {
    width: 48%;
    margin: 10px 1% 0;
    display: flex;
    padding: 2px 7px;
    font-size: 0.8em;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebebeb;
    line-height: 30px;
}

footer .phoneDescriptionSelects .inputBoxText {
    width: 47%;
    border-left: 1px solid #d8d8d8;
    display: inline-block;
}

footer .phoneDescriptionSelects .inputBoxText > div:nth-child(1) {
    text-align: center;
}

footer .phoneDescriptionSelects select.inputBoxInput {
    width: 100%;
    text-align: center;
    border: none;
    float: left;
    background-color: transparent;
}

footer .overflowOptimizer {
    display: none;
    width: 100%;
    height: 400px;
}

#loginPopUp .ui_close_x {
    right: 0;
}

footer .modal {
    backdrop-filter: blur(2px);
    overflow-y: hidden !important;
}

footer .tripsBoxesMainDiv {
    overflow: auto;
    white-space: nowrap;
    height: inherit;
    padding: 0 10px;
}

footer .profileMenuResponsive {
    border: solid #e5e5e5;
    border-width: 2px 0;
}

footer .profileMenuResponsive > div:nth-child(odd) {
    border-left: 2px solid #E5E5E5;
}

footer .profileMenuResponsive > div:nth-child(even) {
    border-right: 2px solid #E5E5E5;
}

footer .profileMenuLinks {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
    border: solid #e5e5e5;
    border-width: 2px 0;
}


@media (max-width: 1300px) {
    .footerRside {
        font-size: 13px !important;
        line-height: 22px !important;
    }
    .aboutShazdeLink > a {
        font-size: 13px;
        font-weight: 800;
    }
    .footerIconHor {
        width: 35px;
        height: 35px;
        background-size: 35px;
    }
    .footerLsideBoxes {
        margin-right: 3%;
    }
}

@media (max-width: 1175px) {
    .footerRside {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .aboutShazdeLink > a {
        font-size: 12px;
        font-weight: 800;
    }
    .footerIconHor {
        width: 32px;
        height: 32px;
        background-size: 32px;
    }
    .footerLsideBoxes {
        margin-right: 2%;
    }
}

@media (max-width: 1055px) {
    .footerRside {
        font-size: 11px !important;
        line-height: 19px !important;
    }
    .footerIconHor {
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
    .footerLsideBoxes {
        margin-right: 1%;
    }
}

@media (max-width: 992px){
    .FilterTopController{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .footerPhoneMenuBar {
        display: none;
    }

    .footerRside {
        width: 80%;
        overflow: hidden;
    }
    .aboutShazdeMoreLess {
        height: 95px !important;
    }
    .aboutShazdeLink > a {
        font-size: 11px;
        font-weight: 800;
    }
    .aboutShazdeLinkMargin {
        margin-top: 20px;
    }
    .footerIconHor {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }
    .footMoreLessBtn {
        display: block;
    }
    .footerLsideBoxes {
        text-align: center;
        line-height: 12px;
        margin: 0 4%;
        overflow: hidden;
    }
    .footTitle {
        line-height: 20px !important;
    }
    .footMenu > a {
        font-size: 10px !important;
    }
    .footShowTabletMenu {
        display: block;
    }
    .footHideTabletMenu {
        display: none;
    }
}

@media (max-width: 880px) {
    .footerRside {
        font-size: 10px !important;
    }
    .aboutShazdeLink > a {
        font-size: 10px;
        font-weight: 800;
    }
    .footerIconHor {
        width: 23px;
        height: 23px;
        background-size: 23px;
    }
    .footerLsideBoxes {
        margin: 0 3%;
    }
}

@media (max-width: 770px){
    .FilterTopController{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .footerPhoneMenuBar {
        display: flex;
    }
}

@media (max-height: 700px) {

    .overflowOptimizer {
        display: block;
    }

    .pSC_boxOfDetails {
        overflow: auto;
        height: inherit;
    }

    .pSC_tilte {
        padding: 15px 20px;
    }

    .pSC_boxOfCityDetailsText, .pSC_cityDetails {
        padding: 10px 0;
    }
}

@media (max-width: 630px) {

    .lp_eachMenu > div:nth-child(2) {
        font-size: 13px;
    }

    .lp_others_titles, .lp_others_titles .trips-header {
        font-size: 1.5em;
        padding: 0 0 15px;
    }

    .lp_others_recentView > div:nth-child(2) {
        font-size: 15px;
    }

    .lp_others_recentView {
        padding: 10px;
    }

    .lp_others_rvPicBox {
        padding: 0;
    }

    .masthead-recent-class {
        margin: 20px;
    }

    .phoneDescriptionText {
        font-size: 12px;
    }

    .pSC_cityDetails {
        font-size: 14px;
    }

    footer .modules-membercenter-total-points .targets {
        padding: 17px 0;
    }

    footer .modules-membercenter-total-points .points {
        font-size: 30px;
    }

    footer .mainDivTotalPoint > a {
        font-size: 11px;
    }

    footer .modules-membercenter-total-points .points_to_go b {
        font-size: 25px;
    }

    footer .modules-membercenter-total-points .points_to_go > span > span {
        font-size: 14px;
    }

}

@media (max-width: 480px) {

    .lp_icons {
        font-size: 30px;
    }

    .ui_icon.search.lp_icons {
        font-size: 30px;
    }

    .lp_eachMenu > div:nth-child(2) {
        font-size: 10px;
    }

    .lp_eachMenu:nth-child(even) {
        width: 30%;
    }

    .lp_eachMenu:nth-child(3) {
        width: 15%;
    }

    .lp_others_recentView {
        flex-direction: column;
    }

    .lp_others_recentView > div {
        width: 100%;
    }

    .lp_others_recentView > div:nth-child(2) {
        margin-top: 5px;
    }

    .phoneDescriptionSelects {
        flex-direction: column;
    }

    .phoneDescriptionSelects > div {
        width: 98%;
    }

    footer .mainDivTotalPoint {
        width: 26%;
    }

    footer .mainDivTotalPoint > a {
        font-size: 10px;
    }

    footer .modules-membercenter-total-points .points_to_go {
        width: 46%;
    }

    footer .modules-membercenter-total-points .points_to_go > span {
        padding: 0 5px 0 0;
    }

    footer .modules-membercenter-total-points .points_to_go b {
        margin-left: 5px;
    }

    footer .profileInfosDetails {
        padding: 0 10px 0 0;
    }

    footer .profileInfosDetails > p {
        font-size: 13px;
    }

    footer .ageSince > div:nth-child(1) {
        font-size: 10px;
    }

    footer .profileBlock > div:nth-child(2) {
        padding: 0 0 0 5px;
    }

    footer .modules-membercenter-member-profile {
        width: 65%;
    }

    .profileBtnActionMobile {
        width: 35%;
    }

    .footerMenuBarLinks {
        font-size: 11px;
    }

    .modules-membercenter-member-profile .aboutMeDesc {
        margin: 0 0 0 15px;
    }
}

@media (max-width: 400px) {

    .masthead-recent-class {
        margin: 20px 0;
    }

    .mainPopUp, .lp_phoneMenuBar {
        width: 85%;
    }

    .footerPhoneMenuBar > div {
        font-size: 12px;
    }

    .ui_icon.search, .ui_icon.plus-circle, .ui_icon.member {
        font-size: 20px;
    }

    #lp_register {
        padding: 20px 10px;
    }

    footer #myHonorsText > h3 {
        font-size: 17px;
    }

    footer .modules-membercenter-total-points .targets {
        padding: 13px 0;
        width: 22%;
    }

    footer .modules-membercenter-total-points .label {
        font-size: 10px;
        padding: 0;
    }

    footer .modules-membercenter-total-points .points {
        font-size: 25px;
    }

    footer .mainDivTotalPoint a {
        font-size: 9px;
    }

    footer .modules-membercenter-total-points .points_to_go b {
        font-size: 20px;
        margin-left: 5px;
    }

    footer .modules-membercenter-total-points .points_to_go > span > span {
        font-size: 13px;
    }

    .pp_btns {
        width: 90px;
        padding: 6px 5px;
    }

    .ui_icon.memberPossibilities {
        font-size: 18px;
    }

    .ui_icon.more-horizontal {
        display: none;
    }

    footer .activitiesMainDiv {
        padding: 0;
    }
}

.fassadsad {
    width: 20%;
}
.topArrow{
    transform: rotate(135deg) !important;
}
.editUserInfoFooterPhoneButton{
    position: relative;
    left: 0;
    bottom: auto;
    top: auto;
    color: #007ac3;
    border-color: #007ac3;
    transform: rotate(-45deg);
    margin-right: 10px;
    transition: .3s;
}